.bookmarksbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 26px;
	margin: 0;
	list-style: none;
	text-align: left;
	font-size: 13px;
	padding: 0 3px;
	background: rgba(255, 255, 255, 0.6);
}

.bookmarksbar li {
	display: inline-block;
	height: 26px;
	line-height: 26px;
}
.bookmarksbar .favicon {
	vertical-align: top;
	margin-top: 5px;
}
.bookmarksbar .title {
	line-height: 26px;
	vertical-align: top;
}
.bookmarksbar .link {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	vertical-align: top;
	height: 26px;
	line-height: 26px;
	padding: 0 6px;
}
.bookmarksbar .link:hover {
	background: rgba(0, 0, 0, 0.1);
}

