.columns {
	width: 70%;
	margin: auto;
}

.column {
	width: 50%;
	box-sizing: border-box;
	float: left;
	min-height: 10px;
	padding: 0 5px;
	-webkit-perspective: 500px;
}
.column:first-child {
	padding: 0 5px 0 10px;
}
.column:last-child {
	padding: 0 10px 0 5px;
}

.card {
	margin: 10px auto 0;
	display: none;
	position: relative;
}
.card .front, .card .back {
	display: block;
	width: 100%;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #D8D8D8;
	border-bottom-width: 2px;
	border-top-width: 0;
	box-sizing: border-box;
	padding: 10px;
}

.card .back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	display: none;
}
.card.flipped {
}

.card h2, .card h3, .card h4, .card p {
	font-weight: 300;
	margin: 0;
}
.card h2 {
	text-align: left;
}

.card .config dl {
	margin: 0;
	padding: 0;
}
.card .config dt {
	float: left;
	clear: left;
	width: 50%;
	text-align: right;
	padding-right: 5px;
	box-sizing: border-box;
}
.card .config dd {
	float: left;
	clear: right;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	text-align: left;
	padding-left: 5px;
}
.card .config input[type="text"] {
	border: 1px solid #BBB;
	border-radius: 3px;
	padding: 1px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}

.configbutton, .unconfigbutton {
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 5px;
	color: #CCC;
	font-size: 16px;
	line-height: 1;
	display: none;
}
.card:hover .configbutton {
	display: block;
}
.card.flipped .configbutton {
	display: none;
}
.card.flipped:hover .unconfigbutton {
	display: block;
}
.unconfigbutton {
	display: none;
}

.card.flipped .back {
	display: block;
}
