.card.recent span {
	display: block;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 30px;
}
.card.recent .sitename {
	width: 100%;
}
.card.recent .thumbbox {
}
.card.recent .favicon {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.card.recent a {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 12px;
	position: relative;
	color: inherit;
	text-decoration: none;
}

.card.recent a:hover span {
	text-decoration: underline;
}
