.card.topsites span {
	display: block;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 30px;
}
.card.topsites .sitename {
	width: 100%;
}
.card.topsites .thumbbox {
}
.card.topsites .favicon {
	vertical-align: middle;
}
.card.topsites a {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 12px;
	position: relative;
	color: inherit;
	text-decoration: none;
}

.card.topsites a:hover span {
	text-decoration: underline;
}
